# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode
build/
DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata/
*.moved-aside
*.xccheckout
*.xcuserstate
*.xcscmblueprint

# Swift Package Manager
.build/
Packages/
Package.resolved

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# Logs
*.log

# Swift Playgrounds
*.playground

# Instruments
*.trace

# Code coverage
*.gcno
*.gcda
*.gcov

# Crash logs
*.crash

# Secrets / local config
*.env
